@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: radial-gradient(#1f3756, #141539) center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Barlow Semi Condensed", sans-serif;
}
@media (max-width: 900px) {
  body {
    align-items: stretch;
  }
}
body .container .perform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border: 3px #606e85 solid;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 650px;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  body .container .perform {
    width: 90%;
    margin: 2rem auto;
  }
}
body .container .perform h1 {
  color: #fff;
}
body .container .perform .score {
  justify-self: end;
  font-weight: bold;
  padding: 0.5rem 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  color: #2a46c0;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .container .perform .score p {
  letter-spacing: 2px;
  font-size: 1.2rem;
}
body .container .perform .score h1 {
  color: #3b4363;
  font-size: 3rem;
  margin: auto;
}
body .container .select {
  display: flex;
  margin: auto;
  width: 490px;
  height: 472px;
  border-radius: 0.5rem;
  justify-content: center;
}
@media (max-width: 900px) {
  body .container .select {
    width: 90%;
    height: 350px;
  }
}
body .container .select div {
  display: flex;
}
body .container .select div .paper {
  background: linear-gradient(to bottom, #4865f4, #5671f5);
}
body .container .select div .rock {
  background: linear-gradient(to bottom, #dc2e4e, #dd405d);
  justify-self: center;
}
body .container .select div .scissors {
  background: linear-gradient(to bottom, #ec9e0e, #eca922);
}
body .container .select div .border {
  padding: 1rem;
  border-radius: 100%;
  margin: 24px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.2) inset;
}
@media (max-width: 900px) {
  body .container .select div .border {
    margin: 0;
  }
}
body .container .select div .border img {
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.2) inset;
  border-radius: 100%;
  padding: 1.3rem;
  background: linear-gradient(to bottom, lightgray, #fff);
}
body .container .select #results_box {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 900px) {
  body .container .select #results_box {
    flex-wrap: wrap;
  }
}
body .container .select #results_box .shadows-victory:before {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  content: "";
  border: 20px rgba(0, 0, 0, 0.2) solid;
}
@media (max-width: 900px) {
  body .container .select #results_box .shadows-victory:before {
    border-width: 15px;
  }
}
body .container .select #results_box .shadows-victory:after {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  content: "";
  border: 40px rgba(0, 0, 0, 0.2) solid;
}
@media (max-width: 900px) {
  body .container .select #results_box .shadows-victory:after {
    border-width: 30px;
  }
}
body .container .select #results_box .border {
  align-items: center;
  justify-content: center;
  transform: scale(2.4);
  margin: 0 7rem;
}
@media (max-width: 900px) {
  body .container .select #results_box .border {
    transform: scale(1);
    margin: 0 1rem;
  }
}
body .container .select #results_box #outResoult {
  width: 260px;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 900px) {
  body .container .select #results_box #outResoult {
    order: 3;
    margin: 1rem;
    width: auto;
  }
}
body .container .select #results_box #outResoult h1 {
  margin: 1rem 0;
  color: #fff;
  font-weight: 700;
  font-size: 3.7rem;
}
body .container .select #results_box #outResoult #btn-again {
  margin: 1rem 0;
  width: 100%;
  border: none;
  background-color: #fff;
  color: #3b4363;
  font-size: 1.2rem;
  padding: 1rem 3.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  z-index: 99999;
}
body .container .select #results_box #outResoult #btn-again:hover {
  cursor: pointer;
  color: orange;
}
body .container .select .box {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 120px;
  row-gap: 80px;
  background: url("../images/bg-triangle.svg") no-repeat center center;
}
@media (max-width: 900px) {
  body .container .select .box {
    column-gap: 70px;
  }
}
body .btn {
  background-color: transparent;
  border: 1px #fff solid;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  color: #fff;
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  font-weight: bold;
}
body .btn:hover {
  background-color: #fff;
  color: #3b4363;
  cursor: pointer;
}
body .attribution {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
@media (max-width: 900px) {
  body .attribution {
    font-size: 0.8rem;
  }
}
body .attribution a {
  color: grey;
}

/*# sourceMappingURL=app.css.map */
